# pip install -r requirements.txt 

jupyter==2.2.0

# jupyter --version
# jupyter core     : 4.6.3
# jupyter-notebook : 6.0.3
# qtconsole        : 4.7.1
# ipython          : 7.13.0
# ipykernel        : 5.1.4
# jupyter client   : 6.0.0
# jupyter lab      : not installed
# nbconvert        : 5.6.1
# ipywidgets       : 7.5.1
# nbformat         : 5.0.4
# traitlets        : 4.3.3
